@font-face {
    font-family: archivoregular;
    src: url(fuentes/Archivo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: archivoitalica;
    src: url(fuentes/Archivo-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: archivobold;
    src: url(fuentes/Archivo-Bold.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: archivosemibold;
    src: url(fuentes/Archivo-SemiBold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: archivobolditalica;
    src: url(fuentes/Archivo-BoldItalic.ttf) format(truetype);
    font-weight: bolder;
    font-style: italic;
}

*{
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "archivoregular", sans-serif;
}

body{
    background-color: rgb(212, 211, 210);
}

h1{
    font-family: "archivobold", sans-serif;
    font-size: 55px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

h2{
    line-height: 1;
    font-size: 40px;
    padding: 40px 0px 15px 0px;
    color: rgb(17, 17, 83);
}

h3{
    padding: 20px 20px 10px 20px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 18px;
}

h4{
    padding: 10px 15px 15px 15px;
    align-items: center;
    justify-items: center;
    font-family: "archivoitalica", sans-serif;
    font-size: 16px;
    color: rgb(17, 17, 83);
}

p{
    line-height: 1.5;
    text-align: justify;
    font-size: 16px;
    max-width: 600px;
}
 
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.botonera a{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 20px 0 20px 0;
    border-radius: 50px;
}

.botonera a:hover {
    color: #fcfed2;
    background-color: rgb(24, 104, 207);
    padding: 10px 20px;
    margin: 20px 0 20px 0;
    border-radius: 50px;
}

#primera-parte{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.datos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.dato {
    background-color: rgb(235, 235, 235);
    gap: 20px;
    border-radius: 15px;
    text-align: center; 
    margin: 50px 5px 50px 5px;
}

nav{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 20px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: "archivoregular", sans-serif;
    font-size: 20px;
    padding: 30px;
    gap: 30px;
}