@font-face {
    font-family: archivoregular;
    src: url(fuentes/Archivo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: archivoitalica;
    src: url(fuentes/Archivo-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: archivobold;
    src: url(fuentes/Archivo-Bold.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: archivosemibold;
    src: url(fuentes/Archivo-SemiBold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: archivobolditalica;
    src: url(fuentes/Archivo-BoldItalic.ttf) format(truetype);
    font-weight: bolder;
    font-style: italic;
}
h1{
    font-family: "archivobold", sans-serif;
    font-size: 55px;
    text-align: left;
}
h2{
    line-height: 1;
    font-size: 40px;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'archivoregular', sans-serif;
    color: rgb(17, 17, 83);
}

h3{
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 18px;
}
h4{
    padding: 0px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: "archivoitalica", sans-serif;
    font-size: 16px;
    color: rgb(17, 17, 83);
}

p{
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 0rem;
    width: 45rem;
    font-size: 18px;
    font-family: "archivoitalica", sans-serif;
    text-align: left;
}

*{
    text-align: center;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(212, 211, 210);
}

#hero{
    background-image: url(img/Banner\ diseño.jpg);
    background-position: right;
    padding: 25px 12px;
    height: 6vh;
    margin: 15px;
}

.datos-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 60px; 
  font-family: 'archivoregular', sans-serif;
}

.dato {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 20px;
    text-align: center; 
    padding-bottom: 0px;
}

ul, li {
    display: flex;
    background-color: rgb(155, 155, 155);
    font-family: 'Archivo', sans-serif;
    padding: 20px 20px 20px 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(0, 34, 102);
    font-weight: bold;
}

a{
    margin-right: 20px;
}

#contenedora{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.Izquierda, .derecha {
    flex: 1;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
}

.izquierda {
    flex: 2;
}

.derecha {
    flex: 1;
}

.columna{
    flex: 1;
}
.personales{
    flex: 1;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
}